<!DOCTYPE html>
<!--sxw=+SWX2@-->
<html>
    <head>
        <link rel="icon" href="/web server/public/image/wall3.jpg">
        <title>
            About
        </title>
        <link rel="stylesheet" href="./css/style.css"> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="./image/Koala.JPG" class="portrait"> 
        </div>
        {{>footer}}
    </body>
</html>