<!DOCTYPE html>
<!--sxw=+SWX2@-->
<html>
    <head>
        <link rel="icon" href="/web server/public/image/wall3.jpg">
        <title>
            ERROR404
        </title>
        <link rel="stylesheet" href="./css/style.css"> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>errormsg}}
        </div>
        {{>footer}}
    </body>
</html>