<!DOCTYPE html>
<!--sxw=+SWX2@-->
<html>
    <head>
        <link rel="icon" href="/web server/public/image/wall3.jpg">
        <title>
            Help
        </title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                {{val}}
            </p>
        </div>
        {{>footer}}
    </body>
</html>